/* Configuração para computador desktop */

* {
    margin:0 auto   /* centraliza todas as caixas */
}

div.grande{
    height:20.833vw;
    display:flex;
    flex-direction:row
}

div.caixinha, div.caixinha1, div.logo, div.acesso{
    margin: 0.521vw;  
} 

div.caixinha, div.caixinha1{
   flex:1;
}

div.caixinha{
  background-color: #fcfcfc;
  text-align:center;
  padding: 0.521vw;
  box-sizing: border-box;
}

div.caixinha1{
    background-color: green;
}

div.cabecalho{
    display: flex;
    flex-direction: row; /* caixinhas em linha */
    height:5.208vw;
    margin-bottom:1.042vw
}

div.grande, div.cabecalho{
    width:90%;
}

div.logo{
    flex:20%;
    text-align:center
}

div.acesso{
    flex:80%;
    text-align:right;
}

div.logo img{
  width: 16vw
}

form{
    font-size:1.2vw; 
    padding-top:1.7vw; 
    padding-bottom:1.7vw;
    padding-right: 1.7vw;
    box-shadow: 5px 5px 10px 3px rgb(87, 86, 86);
    width: 70%;
    background-color: rgb(238, 245, 241);
    box-sizing: border-box;
}

label{
    color:darkslategray;
    font-family: tahoma;
    font-size: 1.1em
}

input{
    border-radius: 0.260vw;
    font-size:1vw;
}

input.botao{
      background-color: black;
      color: white;
}

img.messi{
    width:100%;
}

div.caixinha  a{
    color:limegreen;
    font-size: 1.3em;
    text-decoration-line: none;
    font-family:tahoma;
    font-weight: bold;
} 

div.caixinha a:hover{
    color:lightblue
}

div.caixinha p{
   font-size:16px
}

div.caixinha iframe{
    width:100%;
    height:11.7vw
}

div.menu{
    background-color: aquamarine;
    margin-top:30px
}

div.menucel{
    display:none
}

div.menucomp{
    display:block
}

div.menucomp a{
    float:left;
    padding:10px 30px;
    text-decoration:none
}

div.menucomp a:hover{
    color:red;
    text-decoration: underline;
}


/* Configuração para tablet - 900px */

@media only screen and (max-width:900px){

    div.caixinha1{
        display:none
    }

    div.grande{
        height:32vw;
    }

    div.caixinha iframe{
        width:100%;
        height:23.6vw
    }

}

/* Configuração para celular - tela até 600 px */

@media only screen and (max-width:600px){

    div.grande{
        flex-direction:column;
        height:1200px;
        width:100%
    }

    div.caixinha, div.caixinha1{
        background-color:white;
        border: solid 0.052vw red;
        margin:0.260vw 0.104vw
    }

    div.caixinha1{
        display:block
    }

    div.cabecalho{
        width:100%;
    }

    div.logo, div.acesso{
        margin:0px
    }

    div.caixinha iframe{
        width:100%;
        height:46.6vw
    }

   div.menucel{
       display:block
   }

   div.menucomp{
       display:none
   }
 
   div.opcoes{
       display:none
   }
  
    div.menucel:hover div.opcoes{
        display:block
    }

   div.menucel a{
       float:none;
       display:block
   }

}



