<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrjGetSet">
        <activity
            android:name=".Window1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter tools:ignore="ExtraText"> //aqui se filtra a mensagem que voce quer usar pro seu aplicativo
                //o sistema conversa com os aplicativos, diferente do Windows = android trabalha com mensagens entre os aplciativos
                //aqui tá filtrando o main e o launcher pra abrir, se trocar o nome pra Window1, vai abrir a pagina Window1 como principal
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> //tela principal por isso fecha assim
    </application>

</manifest>